.image {
    border: ridge #800000 5px;
    margin: auto;
    background-color: #ecf1f3;
}
.btn {
    text-align: center;
    margin-top: 5px;
    color: #ecf1f3;
    background-color: #800000;
    padding: 5px 10px;
    margin: auto;
}
.btn:hover {
    background-color: lightgrey;
    border: solid 3px #800000;
    color: #800000;
    transition: all 0.2s ease 0.2s;
}