@font-face {
    font-family: RapidTech;
    src: url(../public/fonts/RapidTechRegular.ttf);
}
@font-face {
    font-family: RapidTechHollow;
    src: url(../public/fonts/RapidTechHollow.ttf);
}
.header {
    display: flex;
    align-items: center;
    padding: 1em 3%;
    background-color: lightgrey;
    /* background-color: #13005A; */
    width: 100%;
    margin: auto;
    
}
.logo {
    margin-right: 3%;
}
.title {
    margin-right: auto;
    font-size: 6rem;
    font-weight: 600;
    font-family: 'RapidTechHollow';
    color: darkred;
    /* color: #03C988; */
}
.links {
    list-style: none;
    font-weight: 800;
    color: darkred;

    /* color: #03C988; */
    text-decoration: none;
    cursor: pointer;
    display: inline;
    padding: 0em 0.5em;
    transition: all 0.3s ease 0s;
}
.links:hover {
    color: #e8f1f2;
    /* background-color: #03C988; */
    background-color: darkred;
    border-radius: 5px;
}