.container {
    /* background-image: linear-gradient(#006494, #3bbbcf); */
    width: 100%;
    height: 100vh;
}
.input {
    max-width: 70%;
    margin-left: 15%;
    margin-top: 3%;
    margin-bottom: 3%;
}
